---
title: "About | Code Stitch Web Designs"
description: "Meta description for the page"
permalink: "/about/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | avif %}"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 482, height: 536 }) | avif %}"/>
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-310">
        <div class="cs-container">
            <span class="cs-int-title">About Us</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="/about/" class="cs-link cs-active">About Us</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/Gallery/gallery2.jpg" | resize({ width: 640, height: 600 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/Gallery/gallery2.jpg" | resize({ width: 640, height: 600 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/Gallery/gallery2.jpg" | resize({ width: 640, height: 600 }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/Gallery/gallery2.jpg" | resize({ width: 2048, height: 942 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/Gallery/gallery2.jpg" | resize({ width: 2048, height: 942 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/Gallery/gallery2.jpg" | resize({ width: 2048, height: 942 }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/Gallery/gallery2.jpg" | resize({ width: 2500, height: 628 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/Gallery/gallery2.jpg" | resize({ width: 2500, height: 628 }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/Gallery/gallery2.jpg" | resize({ width: 2500, height: 628 }) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/Gallery/gallery2.jpg" | resize({ width: 2500, height: 628 }) | jpeg %}" alt="library" width="1920" height="482" loading="eager" decoding="async">
        </picture>
    </div>

    <!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-2276">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/Homepage/about2.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Homepage/about2.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/Homepage/about2.jpg" alt="construction site" width="413" height="492" loading="lazy">
            </picture>
            <a href="" class="cs-button-solid">Read More</a>
        </div>
        <div class="cs-content">
            <div class="cs-header">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Who We Are at SandL Roof Systems.</h2>
            </div>
            <div class="cs-wrapper">
                <div class="cs-flex">
                    <p class="cs-text">
                        At SandL Roof Systems, we provide reliable residential and commercial roofing services across Indiana, built on quality workmanship and honest communication. With years of experience and an understanding of the challenges Indiana weather brings, we deliver solutions designed to protect your property and give you peace of mind. Whether it’s a small repair, full replacement, or insurance claim assistance, we treat every roof as if it were our own.
                    </p>
                  
                    <span class="cs-name">Steve Stoltzfus</span>
                    <span class="cs-desc">Owner of SandLroofsystems</span>
                    <!--if you change this button class name, change the class name to rename it as well in the css at small desktop media query-->
                    
                </div>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/Homepage/about1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Homepage/about1.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/Homepage/about1.jpg" alt="construction site" width="362" height="400" loading="lazy">
                </picture>
            </div>
        </div>
    </div>
</section>
                                

    {% include 'sections/cta.html' %}

{% endblock %}