---
title: "Insurance Claim | SandLroofsystems"
description: "Meta description for the page"
permalink: "/insuranceclaim/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-310">
        <div class="cs-container">
            <span class="cs-int-title">Insurance Claim</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="/insuranceclaim/" class="cs-link cs-active">Insurance Claim</a>
            </div>
        </div>
        <!--Background Image-->

        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/residential/shingles1.jpg" | resize({ width: 640, height: 600 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/residential/shingles1.jpg" | resize({ width: 640, height: 600 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/residential/shingles1.jpg" | resize({ width: 640, height: 600 }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/residential/shingles1.jpg" | resize({ width: 2048, height: 942 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/residential/shingles1.jpg" | resize({ width: 2048, height: 942 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/residential/shingles1.jpg" | resize({ width: 2048, height: 942 }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/residential/shingles1.jpg" | resize({ width: 2500, height: 628 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/residential/shingles1.jpg" | resize({ width: 2500, height: 628 }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/residential/shingles1.jpg" | resize({ width: 2500, height: 628 }) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/residential/shingles1.jpg" | resize({ width: 2500, height: 628 }) | jpeg %}" alt="library" width="1920" height="482" loading="eager" decoding="async">
        </picture>
    </div>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-2291">
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Featured service</span>
            <h2 class="cs-title">Insurance Claim Assistance for Stress-Free Repairs</h2>
            <p class="cs-text">
                When storms or damage strike, your home & business deserves more than just repairs—it deserves protection and peace of mind. At SandL Roof Systems, we help home and business owners navigate the insurance claim process while delivering high-quality roofing solutions. From assessments and documentation to repairs and replacements, you’ll receive reliable results and guidance every step of the way.
            </p>
            
            <div class="cs-features">
                <h3 class="cs-h3">Our insurance claim services include:</h3>
                <ul class="cs-ul">
                    <li class="cs-li">Detailed roof inspections and damage assessments</li>
                    <li class="cs-li">Documentation support for insurance providers</li>
                    <li class="cs-li">Assistance throughout the claims process</li>
                    <li class="cs-li">Roof repairs and full replacements covered by insurance</li>
                    <li class="cs-li">Ongoing communication to ensure a smooth, stress-free experience</li>
                </ul>
            </div>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Call Now</a>
        </div>
        <!-- Right Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <span class="cs-number">100+</span>
                <div class="cs-flex">
                    <h3 class="cs-heading">Roofs Installed</h3>
                    <span class="cs-desc">Fixing roofs with solutions that are as reliable as they are attractive.</span>
                </div>
            </div>
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/insurance.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/insurance.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/insurance.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>



<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<!-- No headers, so no section tag -->
<div id="stats-340">
    <ul class="cs-card-group">
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/person2-gold.svg" alt="icon" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">5840</span>
                <span class="cs-desc">Cleaning Staff</span>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/mop-gold.svg" alt="icon" width="40" height="35" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">3140</span>
                <span class="cs-desc">Projects Completed</span>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/thumbs-gold.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">2260</span>
                <span class="cs-desc">Satisfied Clients</span>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/award2-gold.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">2365</span>
                <span class="cs-desc">Awards Won</span>
            </div>
        </li>
    </ul>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/residential/insuranceclaim3.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/residential/insuranceclaim3.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/residential/insuranceclaim3.jpg" alt="cleaning products" width="1920" height="283">
    </picture>
</div>


<!-- ============================================ -->
<!--                    Steps                     -->
<!-- ============================================ -->

<section id="steps-2330">
    <div class="cs-container">
        <div class="cs-wrapper">
            <div class="cs-content">
                <span class="cs-topper">Process</span>
                <h2 class="cs-title">A custom process just for you!</h2>
            </div>
            <!--Preferrably use an image that is a horizontal image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/residential/insuranceclaim2.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/residential/insuranceclaim2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/residential/insuranceclaim2.jpg" alt="truck" width="748" height="420">
            </picture>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">01</span>
                <div class="cs-flex">
                    <h3 class="cs-h3">Inspection & Damage Report</h3>
                    <p class="cs-item-text">
                       We start with a thorough roof inspection, documenting all storm or damage-related issues that may qualify for an insurance claim.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <span class="cs-number">02</span>
                <div class="cs-flex">
                    <h3 class="cs-h3">Claim Assistance</h3>
                    <p class="cs-item-text">
                        We guide you through the claims process, providing detailed documentation and working directly with your insurance adjuster when needed.
                </div>
            </li>
            <li class="cs-item">
                <span class="cs-number">03</span>
                <div class="cs-flex">
                    <h3 class="cs-h3">Roof Repair or Replacement</h3>
                    <p class="cs-item-text">
                        Once the claim is approved, our team completes the repair or replacement using high-quality materials and proven techniques.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <span class="cs-number">04</span>
                <div class="cs-flex">
                    <h3 class="cs-h3">Final Walkthrough & Peace of Mind</h3>
                    <p class="cs-item-text">
                        We finish with a final inspection to ensure everything meets standards and provide warranty details so you can feel confident your home is protected.
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <span class="cs-floater">Process</span>
</section>


                                
                                
                                
                                

    {% include 'sections/cta.html' %}

{% endblock %}