---
title: "Residential | SandLroofsystems"
description: "Protect your home with expert residential roofing by SandL Roof Systems. We offer inspections, repairs, replacements, and maintenance for long-lasting, reliable roofs."
permalink: "/residential/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-310">
        <div class="cs-container">
            <span class="cs-int-title">Residential</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="/residential/" class="cs-link cs-active">Residential</a>
            </div>
        </div>
        <!--Background Image-->

        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/residential/shingles.jpg" | resize({ width: 640, height: 600 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/residential/shingles.jpg" | resize({ width: 640, height: 600 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/residential/shingles.jpg" | resize({ width: 640, height: 600 }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/residential/shingles.jpg" | resize({ width: 1000, height: 942 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/residential/shingles.jpg" | resize({ width: 1000, height: 942 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/residential/shingles.jpg" | resize({ width: 1000, height: 942 }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/residential/shingles.jpg" | resize({ width: 1200, height: 628, position : 'bottom' }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/residential/shingles.jpg" | resize({ width: 1200, height: 628, position : 'bottom' }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/residential/shingles.jpg" | resize({ width: 1200, height: 628, position : 'bottom' }) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/residential/shingles.jpg" | resize({ width: 1200, height: 628, position : 'bottom' }) | jpeg %}" alt="library" width="1920" height="482" loading="eager" decoding="async">
        </picture>
    </div>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-2291">
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Featured service</span>
            <h2 class="cs-title">WE APPROACH EACH ROOF AS IF IT WERE OUR OWN</h2>
            <p class="cs-text">
                Your home deserves a roof that’s built to last. At SandL Roof Systems, we specialize in high-quality residential roofing designed to protect your home and give you peace of mind. Whether you need a small repair, a full replacement, or preventative maintenance, you’ll get a solution that’s reliable, durable, and built around your needs.
            </p>
            
            <div class="cs-features">
                <h3 class="cs-h3">Our residential roofing services include:</h3>
                <ul class="cs-ul">
                    <li class="cs-li">Roof inspections and assessments</li>
                    <li class="cs-li">Leak detection and repairs</li>
                    <li class="cs-li">Full roof replacements</li>
                    <li class="cs-li">Shingle, tile, and metal roofing options</li>
                    <li class="cs-li">Preventative maintenance and storm damage repair</li>
                </ul>
            </div>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Call Now</a>
        </div>
        <!-- Right Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <span class="cs-number">100+</span>
                <div class="cs-flex">
                    <h3 class="cs-heading">Roofs Installed</h3>
                    <span class="cs-desc">Fixing roofs with solutions that are as reliable as they are attractive.</span>
                </div>
            </div>
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/residential/resi.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/residential/resi.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/residential/resi.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<!-- No headers, so no section tag -->
<div id="stats-340">
    <ul class="cs-card-group" style="display: none;">
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/person2-gold.svg" alt="icon" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">5840</span>
                <span class="cs-desc">Cleaning Staff</span>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/mop-gold.svg" alt="icon" width="40" height="35" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">3140</span>
                <span class="cs-desc">Projects Completed</span>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/thumbs-gold.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">2260</span>
                <span class="cs-desc">Satisfied Clients</span>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/award2-gold.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-number">2365</span>
                <span class="cs-desc">Awards Won</span>
            </div>
        </li>
    </ul>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/residential/shingles1.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/residential/shingles1.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/residential/shingles1.jpg" alt="cleaning products" width="1920" height="283">
    </picture>
</div>


<!-- ============================================ -->
<!--                    Steps                     -->
<!-- ============================================ -->

<section id="steps-2330">
    <div class="cs-container">
        <div class="cs-wrapper">
            <div class="cs-content">
                <span class="cs-topper">Process</span>
                <h2 class="cs-title">A custom process tailored for you!</h2>
            </div>
            <!--Preferrably use an image that is a horizontal image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/residential/resroof2.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/residential/resroof2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/residential/resroof2.jpg" alt="truck" width="748" height="420">
            </picture>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">01</span>
                <div class="cs-flex">
                    <h3 class="cs-h3">Inspection & Assessment</h3>
                    <p class="cs-item-text">
                        We start with a thorough roof inspection to evaluate its condition, identify issues, and recommend the best repair or replacement options.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <span class="cs-number">02</span>
                <div class="cs-flex">
                    <h3 class="cs-h3">Customized Proposal</h3>
                    <p class="cs-item-text">
                        You’ll receive a clear, detailed proposal outlining materials, timelines, and costs. No hidden surprises.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <span class="cs-number">03</span>
                <div class="cs-flex">
                    <h3 class="cs-h3">Professional Installation</h3>
                    <p class="cs-item-text">
                        Our skilled team completes the repair or replacement using high-quality materials and proven techniques to ensure long-lasting results.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <span class="cs-number">04</span>
                <div class="cs-flex">
                    <h3 class="cs-h3">Final Walkthrough & Guarantee</h3>
                    <p class="cs-item-text">
                        Once the work is finished, we do a final walkthrough with you to ensure everything meets expectations and provide warranty details for peace of mind.
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <span class="cs-floater">Process</span>
</section>
                                
                                
                                
                                

    {% include 'sections/cta.html' %}

{% endblock %}